<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autogrow</title>
    <script src="./app.js" defer></script>
</head>
<style>
    body {
        margin: 50px;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    textarea {
        border: 1px solid grey;
        width: 100%;
        min-height: 100px;
        padding: 20px;
        font-family: sans-serif;
        font-size: 20px;
    }
</style>
<body>

    <div class="container">
        <textarea is="textarea-autogrow" placeholder="Entrer votre texte">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident voluptate distinctio rerum expedita exercitationem dignissimos odio ut incidunt quisquam repudiandae sunt repellendus laboriosam in, non nesciunt ipsum corporis sapiente eos.
            Et nulla maxime commodi voluptas impedit, voluptate iure cumque accusantium voluptatem? Debitis, quibusdam temporibus recusandae ducimus harum officiis aperiam cumque rerum nihil, illum natus, quaerat odio ea dolore rem ipsa?
            Possimus culpa quo, distinctio eius, exercitationem voluptas aliquam esse impedit tempora, accusantium iste commodi incidunt quidem deserunt unde! Iste ex adipisci saepe, nihil nesciunt qui sunt vitae asperiores alias possimus.
            Laboriosam deleniti debitis facere fugit magni vel ipsam nesciunt, a eveniet ipsa quam temporibus. Molestiae consequuntur odit officia. Doloribus voluptatem aliquid dicta totam tempora adipisci animi aut laudantium nobis nesciunt.
            Odio quibusdam incidunt magnam voluptate exercitationem illum perspiciatis doloremque sed alias aspernatur ducimus eligendi ipsa consequatur repellendus dolorem quasi blanditiis ipsum nobis soluta, cum esse illo labore odit. Obcaecati, provident!
            Sequi itaque eveniet quis aspernatur, error voluptatem alias explicabo velit eos rerum at ipsa, quia recusandae nostrum non quidem ea corporis tempore impedit eligendi tempora accusamus eius? Assumenda, laudantium quibusdam.
            Repellendus iusto in, unde molestiae veritatis architecto suscipit et id quos adipisci assumenda dolore vero laboriosam necessitatibus accusantium ratione animi, eaque, iure ut rem laborum natus commodi. Voluptatum, quidem temporibus!
            Perferendis quae id commodi, error consequuntur praesentium delectus! Officiis impedit quis eos laborum mollitia voluptas incidunt debitis aliquam sunt eaque, illum consectetur aliquid numquam, placeat praesentium neque deleniti ex earum.
        </textarea>
    </div>

</body>
</html>