<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="src/main.js" type="module"></script>
    <style>
        photos-grid img {
            /* Overwrite reset CSS rules */
            max-width: none;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body class="bg-stone-900 text-white py-12">
    <div class="container">
        <h1 class="text-4xl font-semibold mb-4">Gallerie</h1>
        <div class="flex md:flex-row flex-col items-center gap-8 justify-between text-stone-400 mb-8">
            <div class="space-y-2">
                <p class="max-w-[65ch]">
                    Exemple de galerie photo où l'objectif est d'obtenir des lignes
                    d'images avec une hauteur au plus proche de
                    <strong>200px</strong>.<br />
                </p>
                <p class="text-stone-500 text-sm">
                    Origine des photos :
                    <a href="https://unsplash.com/fr" class="underline hover:text-stone-100 transition">Unsplash</a>
                </p>
            </div>
            <a href="https://grafikart.fr/tutoriels/tp-js-album-photo-2254"
                class="text-nowrap w-max border border-stone-300 rounded py-2 px-3 flex items-center gap-2 hover:bg-stone-700 transition hover:text-white">
                <div class="i-ri:video-line"></div>
                Voir le tutoriel
            </a>
        </div>
        <photos-grid gap="0.5rem" rowheight="200">
            <a href="https://picsum.photos/id/10/1280/720" target="_blank">
                <img src="https://picsum.photos/id/10/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/11/1280/720" target="_blank">
                <img src="https://picsum.photos/id/11/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/12/1280/720" target="_blank">
                <img src="https://picsum.photos/id/12/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/13/1280/720" target="_blank">
                <img src="https://picsum.photos/id/13/280/250" width="280" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/14/1280/720" target="_blank">
                <img src="https://picsum.photos/id/14/416/250" width="416" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/15/1280/720" target="_blank">
                <img src="https://picsum.photos/id/15/141/250" width="141" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/16/1280/720" target="_blank">
                <img src="https://picsum.photos/id/16/418/250" width="418" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/17/1280/720" target="_blank">
                <img src="https://picsum.photos/id/17/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/18/1280/720" target="_blank">
                <img src="https://picsum.photos/id/18/141/250" width="141" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/19/1280/720" target="_blank">
                <img src="https://picsum.photos/id/19/376/250" width="376" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/20/1280/720" target="_blank">
                <img src="https://picsum.photos/id/20/1002/250" width="1002" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/21/1280/720" target="_blank">
                <img src="https://picsum.photos/id/21/141/250" width="141" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/22/1280/720" target="_blank">
                <img src="https://picsum.photos/id/22/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/23/1280/720" target="_blank">
                <img src="https://picsum.photos/id/23/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/24/1280/720" target="_blank">
                <img src="https://picsum.photos/id/24/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/25/1280/720" target="_blank">
                <img src="https://picsum.photos/id/25/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/26/1280/720" target="_blank">
                <img src="https://picsum.photos/id/26/736/250" width="736" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/27/1280/720" target="_blank">
                <img src="https://picsum.photos/id/27/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/28/1280/720" target="_blank">
                <img src="https://picsum.photos/id/28/167/250" width="167" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/29/1280/720" target="_blank">
                <img src="https://picsum.photos/id/29/376/250" width="376" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/30/1280/720" target="_blank">
                <img src="https://picsum.photos/id/30/167/250" width="167" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/31/1280/720" target="_blank">
                <img src="https://picsum.photos/id/31/208/250" width="208" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/32/1280/720" target="_blank">
                <img src="https://picsum.photos/id/32/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/33/1280/720" target="_blank">
                <img src="https://picsum.photos/id/33/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/34/1280/720" target="_blank">
                <img src="https://picsum.photos/id/34/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/35/1280/720" target="_blank">
                <img src="https://picsum.photos/id/35/280/250" width="280" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/36/1280/720" target="_blank">
                <img src="https://picsum.photos/id/36/416/250" width="416" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/37/1280/720" target="_blank">
                <img src="https://picsum.photos/id/37/141/250" width="141" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/38/1280/720" target="_blank">
                <img src="https://picsum.photos/id/38/418/250" width="418" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/39/1280/720" target="_blank">
                <img src="https://picsum.photos/id/39/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/40/1280/720" target="_blank">
                <img src="https://picsum.photos/id/40/141/250" width="141" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/41/1280/720" target="_blank">
                <img src="https://picsum.photos/id/41/376/250" width="376" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/42/1280/720" target="_blank">
                <img src="https://picsum.photos/id/42/1002/250" width="1002" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/43/1280/720" target="_blank">
                <img src="https://picsum.photos/id/43/141/250" width="141" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/44/1280/720" target="_blank">
                <img src="https://picsum.photos/id/44/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/45/1280/720" target="_blank">
                <img src="https://picsum.photos/id/45/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/46/1280/720" target="_blank">
                <img src="https://picsum.photos/id/46/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/47/1280/720" target="_blank">
                <img src="https://picsum.photos/id/47/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/48/1280/720" target="_blank">
                <img src="https://picsum.photos/id/48/736/250" width="736" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/49/1280/720" target="_blank">
                <img src="https://picsum.photos/id/49/375/250" width="375" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/50/1280/720" target="_blank">
                <img src="https://picsum.photos/id/50/167/250" width="167" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/51/1280/720" target="_blank">
                <img src="https://picsum.photos/id/51/376/250" width="376" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/52/1280/720" target="_blank">
                <img src="https://picsum.photos/id/52/167/250" width="167" height="250" alt="" />
            </a>
            <a href="https://picsum.photos/id/53/1280/720" target="_blank">
                <img src="https://picsum.photos/id/53/208/250" width="208" height="250" alt="" />
            </a>
        </photos-grid>
    </div>
</body>

</html>