<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre animation</title>
    <link rel="stylesheet" href="./app.css">
    <script src="./app.js" defer></script>
</head>
<body>

    <!--
        L'idée est d'entourer notre mot avec des span, le premier span permettra de zone d'affichage et la second span permettra d'animer le mot à l'intérieur - <span><span>Mot</span></span>
    -->

    <div class="page">
        <h1 class="title">Ceci est <strong>un titre</strong></h1>
    </div>
    <div class="page page-absolute">
        <h1 class="title">Ceci est<br> un titre</h1>
    </div>

</body>
</html>