<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Particules 3D avec Three.js</title>
    <link rel="stylesheet" href="./style.css">
    <script src="../../build/threejs.js" defer></script>
</head>
<style>
    section {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

   .canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    section h1 {
        position: relative;
        z-index: 1;
        color: white;
    }
</style>
<body>

    <!-- particule.js : Permet aussi de faire ce système de particule mais en 2D -->

    <!-- <section>
        <canvas class="canvas"></canvas>
        <h1>Threejs</h1>
    </section> -->

</body>
</html>