<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dock MacOS</title>
    <link rel="stylesheet" href="./app.css">
    <script src="./app.js" defer></script>
</head>
<body>

    <div class="dock-wrapper">
        <div class="dock">
            <button class="dock-icon"><img src="./img/Frame 89.png" />
            </button>
            <button class=" dock-icon"><img src="./img/lightnext.gif" />
            </button>
            <button class=" dock-icon"><img src="./img/lightprev.gif" /></button>
            <button class=" dock-icon"><img src="./img/piece.png" /></button>
            <button class=" dock-icon"><img src="./img/ppnext.png" /></button>
            <button class=" dock-icon"><img src="./img/ppprev.png" /></button>
            <button class=" dock-icon"><img src="./img/lightprev.gif" /></button>
        </div>
    </div>

</body>
</html>