<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redimensionnement en drag n drop</title>
    <link rel="stylesheet" href="./app.css">
    <script src="./app.js" defer></script>
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <div class="logo">
                X
            </div>
            <nav>
                <a href="">Accueil</a>
                <a href="">Compte</a>
                <a href="">Réglage</a>
            </nav>
            <div class="resizer"></div> <!-- Nous sert à redimensionner la sidebar -->
        </aside>
        <main class="main">
            <h1>Lorem ipsum dolor, sit amet consectetur</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam rem itaque a inventore culpa. Ipsum architecto, quod nam corporis harum quaerat provident ducimus accusantium soluta quibusdam ea eligendi voluptatum est.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nobis? Beatae eveniet recusandae delectus dolor deserunt voluptatibus, dolores minima quis perspiciatis, repellendus magni omnis quisquam earum accusantium, neque ipsa illo!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, minima architecto adipisci totam commodi autem eos asperiores tempore dolore, unde impedit laudantium velit dolorum necessitatibus sapiente at, minus aut! Magni!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, ullam rerum nemo laboriosam cumque dignissimos porro qui eaque sapiente placeat consectetur, quos cum quod asperiores, aut animi. Repudiandae, rem aspernatur.
            </p>
        </main>
    </div>
</body>
</html>