<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panorama - Visite virtuelle</title>
    <link rel="stylesheet" href="./screen.css">
</head>
<body>

    <!--
        Le principe est de prendre une photo qui a été prise avec une caméra en 360 et de pouvoir naviguer à l'intérieur avec la souris, on vas rajouter une particularité qui au survol sur le 'i' affiche une tooltip d'info et au clic va sur une autre image
    -->

    <div class="tooltip"></div>
    <script src="./tweenlite.js"></script> <!-- Librairie d'animation -->
    <script src="./three.js"></script> <!-- Ici on a pas pris la version minifié -->
    <script src="./app.js"></script>

</body>
</html>