<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tooltip</title>
    <link rel="stylesheet" href="./app.css">
    <script src="./app.js" defer></script>
</head>
<body>

    <div style="margin-bottom: 100px;"></div>
    <button title="Je suis un bouton de tooltip">Bouton</button>
    <a href="" title="AAAA" data-tooltip="#tooltip-content">Tootlip HTML</a>

    <div id="tooltip-content" hidden>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate suscipit culpa doloremque quos, quasi fugiat quo id? Consequuntur obcaecati excepturi vitae ducimus dolore deleniti magni perferendis corrupti dignissimos, voluptas quae!
        </p>
        <a href="">Lien</a>
    </div>

</body>
</html>