<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./app.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Portfolio Grid</h1>
        <div class="portfolio" id="js-portfolio">
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <!-- L'idée est de cloner le body juste après
                <div class="project-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            -->
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" id="project-1" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
        </div>

        <h1>Portfolio Flexbox</h1>
        <div class="portfolio-flex" id="js-portfolio-flex">
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
            <div class="project js-item" tabindex="0">
                <img src="./image.jpg" class="project-image" alt="">
                <h2 class="project-name">Lorem ipsum</h2>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </div>
                <div class="project-body js-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde quasi facere. Facere vero quo labore quis quibusdam consequuntur cumque deserunt, fugit aspernatur sed nesciunt nisi quas, sunt, esse provident!
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint similique esse quidem porro vero facilis omnis vitae corporis illum voluptate, dolor, obcaecati temporibus deleniti, soluta minima maxime! Quibusdam, saepe.
                    </p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>